[package]
name = "outscale_api"
version = "1.18.0"
authors = ["Outscale SAS <opensource@outscale.com>"]
edition = "2021"
license = "BSD-3-Clause"
description = "Outscale API SDK"
repository = "https://github.com/outscale/osc-sdk-rust/"

[dependencies]
# renovate: datasource=crate depName=home
home = "0.5.3"
# renovate: datasource=crate depName=rand
rand = "~0.9"
# renovate: datasource=crate depName=serde
serde = "^1.0"
# renovate: datasource=crate depName=serde_derive
serde_derive = "^1.0"
# renovate: datasource=crate depName=serde_json
serde_json = "^1.0"
# renovate: datasource=crate depName=url
url = "^2.2"
# renovate: datasource=crate depName=secrecy
secrecy = "~0.10"
# renovate: datasource=crate depName=aws-credential-types
aws-credential-types = "1.2.8"

[dependencies.base64]
# renovate: datasource=crate depName=base64
version = "0.22"
optional = true

[dependencies.aws-sigv4]
# renovate: datasource=crate depName=aws-sigv4
version = "^1.3"
features = ["sign-http"]
default-features = false

[dependencies.reqwest]
# renovate: datasource=crate depName=reqwest
version = "^0.13"
features = ["json", "blocking", "multipart", "http2", "system-proxy", "charset"]
default-features = false

[dev-dependencies]

[features]
default = ["reqwest/default-tls"]
native-tls = ["reqwest/native-tls", "dep:base64"]
rustls-tls = ["reqwest/rustls-tls", "dep:base64"]
