[package]
name = "outscale_api"
version = "1.18.0"
authors = ["Outscale SAS <opensource@outscale.com>"]
edition = "2021"
license = "BSD-3-Clause"
description = "Outscale API SDK"
repository = "https://github.com/outscale/osc-sdk-rust/"

[dependencies]
home = "0.5.3"
rand = "~0.9"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
url = "^2.2"
reqwest = { version = "^0.12", default-features = false, features = ["json", "blocking", "multipart", "http2", "system-proxy", "charset"] }
secrecy = "~0.10"
aws-credential-types = "1.2.8"

[dependencies.aws-sigv4]
version = "^1.3"
features = ["sign-http"]
default-features = false

[dev-dependencies]

[features]
default = ["reqwest/default-tls"]
native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls"]
